name: NEXUS Scanner

on:
  workflow_dispatch:
    inputs:
      target:
        description: 'Target'
        required: true
        default: 'example.com'
      mode:
        description: 'scan/recon'
        required: true
        default: 'scan'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: pip install requests urllib3
      - run: python3 nexus.py ${{ github.event.inputs.mode }} ${{ github.event.inputs.target }}
